/* 

.header {
    width: 100vw;
    height: 300px;
    background-color: gray;
background-image: url("https://wallpapers.com/images/hd/black-and-red-abstract-cool-black-m9nx1tcr3s2kgwhp.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
text-align: center;
margin-top: 0px;
padding: 0px;
padding: 10px;

}

#header-h1{
color: rgb(236, 234, 234);
font-weight: bolder;
font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 45px;
margin-top: 0px;
} */


.header {
    width: 100vw;
    height: 300px;
    background-color: gray;
    background-image: url("https://wallpapers.com/images/hd/black-and-red-abstract-cool-black-m9nx1tcr3s2kgwhp.jpg");
    background-size: cover; /* Change background size to cover */
    background-position: center; /* Center the background image */
    text-align: center;
    padding: 10px;
}

#header-h1 {
    color: rgb(236, 234, 234);
    font-weight: bolder;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .header {
        height: 200px; /* Adjust height for smaller screens */
    }
    
    #header-h1 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}

