/* 

.lists h1{
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(10, 9, 9);
    margin-left: 20px;
    
}

  .lists ul  {
    font-size: 20px;
    list-style:circle ;
}


.lists ul li {
    margin-bottom: 5px;
} */


.lists h1 {
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(10, 9, 9);
    margin-left: 20px;
}

.lists ul {
    font-size: 20px;
    list-style: circle;
}

.lists ul li {
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .lists h1 {
        font-size: 35px; /* Adjust font size for smaller screens */
    }
    
    .lists ul {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}



