/* 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeCard {
    width: 500px;
    height: auto;
    background-color: rgb(151, 112, 64);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
}

.resumeCard p {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.img {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    background-size: 100% 100%;

} */


/* button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.read-more {
    width: 120px;
    height: 40px;

}

#readMore {
    background-color: rgb(180, 54, 54);
    color: white;

}

#readMore:hover {
    background-color: rgb(146, 51, 51);

}

#github {
    margin-right: 5px;
    background-color: plum;
    color: white;
}

#github:hover {
    background-color: rgb(184, 127, 184);
}

#live-view {
    background-color: rgb(77, 174, 174);
    color: white;
}

#live-view:hover{
background-color: rgb(52, 134, 134);    
}

#hide {
    background-color: rgb(82, 181, 126);
    color: white;
}

#hide:hover{
    background-color:rgb(76, 156, 112) ;
} */





.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.resumeCard {
    border-radius: 15px;
    width: 500px;
    max-width: 100%; /* Ensure card doesn't overflow on smaller screens */
    height: auto;
    background-color: rgb(151, 112, 64);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px; /* Added margin to separate cards */
}

.resumeCard p {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-size: cover; /* Ensure background image covers the entire area */
}

button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.read-more {
    width: 120px;
    height: 40px;
}

/* Button styles */
#readMore {
    background-color: rgb(180, 54, 54);
    color: white;
}

#readMore:hover {
    background-color: rgb(146, 51, 51);
}

#github {
    margin-right: 5px;
    background-color: plum;
    color: white;
}

#github:hover {
    background-color: rgb(184, 127, 184);
}

#live-view {
    background-color: rgb(77, 174, 174);
    color: white;
}

#live-view:hover {
    background-color: rgb(52, 134, 134);
}

#hide {
    background-color: rgb(82, 181, 126);
    color: white;
}

#hide:hover {
    background-color: rgb(76, 156, 112);
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .resumeCard {
        width: 80%; /* Adjust card width for smaller screens */
    }
}
